/* Add CSS Styling */

p {
    color: black;
    background-color: lightpink;
    font-family: Verdana, sans-serif;
}

.element2 {
    color: #00f;
    font-size: 36px;
}

#element4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}